{% extends "layout.html" %}
{% block link %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
{% endblock %}


{% block title %}
my items
{% endblock %}

{% block main %}

<h1 class="my_css">My Items</h1>
{% for item in items %}
<div class="div1">
    <img id="my-img" src="{{ url_for('display_image', filename=item.title) }}">
    <ul>
        <li>Name: {{ item.name }}</li>
        <li>Brand: {{ item.brand }}</li>
        <li>Color: <span style="color:{{item.color}};">{{ item.color }}</span></li>
        <li>Condition: {{ item.condition }}</li>
    </ul>
</div>
{% endfor %}
<div class="div1">
    <ul>
        <a href="./sell">
            <img class="append-img" src="../static/append-image.webp" alt="append an item">
        </a>
        <li>Append an item</li>
    </ul>
</div>
{% endblock %}